<section id="footer">
  <div class="inner">
    <ul class="icons" style="display:flex; gap:1.5rem; justify-content:center; padding:0; list-style:none;">
      <li><a href="https://www.instagram.com/yangjie.qin/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="https://www.facebook.com/yangjie.qin/"  target="_blank" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://github.com/YangJieQin"          target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="https://x.com/YangJieQin1"              target="_blank" class="icon brands fa-x-twitter"><span class="label">X (Twitter)</span></a></li>
      <li><a href="https://www.linkedin.com/in/yang-jie-qin/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="mailto:qin.jack1028@gmail.com"          target="_blank" class="icon fa-envelope"><span class="label">Email</span></a></li>
      <li><a href="https://yangjieqin.github.io"           target="_blank" class="icon fa-home"><span class="label">Website</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; <span id="y"></span> Jack Qin</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
<script>document.getElementById('y').textContent=new Date().getFullYear()</script>
